body {
  color: #40514E;
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

h1{
  font-size: 5.625rem;
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
  color: #66BFBF;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  color: #66BFBF;
  padding-bottom: 10px;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}

hr {
  border-style: none none dotted none;
  border-width: 10px;
  width: 5%;
  border-color: #EAF6F6;
  margin: 100px auto;
}

a {
  color: #11999E;
  text-decoration: none;
  margin: auto 10px;
  font-family: 'Montserrat', sans-serif;
}

a:hover {
  color: #EAF6F6;

}

p {
  line-height: 2;
}

.top-container {
  background-color: #DFEEEA;
  position: relative;
  padding: 100px;
}
.middle-container {
  margin: 100px 0;
}

.bottom-container {
  background-color: #66BFBF;
  padding-top: 35px;
  padding-bottom: 25px;
}

.pro {
  text-decoration: underline;
}

.intro {
  width: 35%;
  margin: auto;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 50px;
}

.bottom-cloud {
  position: absolute;
  left: 200px;
  bottom: 400px;
}

.circular {
  border-radius: 75%;

}

.programmer {
  font-weight: normal;
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;


}

.contact-me {
  margin: 50px auto 50px auto;
}

.coding {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.art {
  width: 25%;
  float: right;
  margin-left: 30px;

}

.art-text {
  padding-bottom: 50px;
}

.contact-msg {
  width: 25%;
  margin: 20px auto;
}

.copyright-info {
  color: #EAF6F6;
  font-size: 0.75rem;
  padding: 20px 0;
}

.btn {
   background: #11CDD4;
   background-image: -webkit-linear-gradient(top, #11CDD4, #11999E);
   background-image: -moz-linear-gradient(top, #11CDD4, #11999E);
   background-image: -ms-linear-gradient(top, #11CDD4, #11999E);
   background-image: -o-linear-gradient(top, #11CDD4, #11999E);
   background-image: -webkit-gradient(to bottom, #11CDD4, #11999E);
   -webkit-border-radius: 8px;
   -moz-border-radius: 8px;
   border-radius: 8px;
   color: #FFFFFF;
   font-family: 'Montserrat', sans-serif;
   font-size: 20px;
   font-weight: 100;
   padding: 20px;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
}

.btn:hover {
   border: solid #337FED 0;
   background: #30E3CB;
   background-image: -webkit-linear-gradient(top, #30E3CB, #2BC4AD);
   background-image: -moz-linear-gradient(top, #30E3CB, #2BC4AD);
   background-image: -ms-linear-gradient(top, #30E3CB, #2BC4AD);
   background-image: -o-linear-gradient(top, #30E3CB, #2BC4AD);
   background-image: -webkit-gradient(to bottom, #30E3CB, #2BC4AD);
   -webkit-border-radius: 8px;
   -moz-border-radius: 8px;
   border-radius: 8px;
   text-decoration: none;
}
